---
import Layout from '../layouts/Layout.astro'
//Importamos el adaptador de mongodb
import { Db, MongoClient } from 'mongodb'
//Hacemos que la p치gina no se prerenderice en el servidor
export const prerender = false

const uri = import.meta.env.MONGODB_URI

const placeholder = {
  plnombre: 'Introduce tu nombre',
  plapellidos: 'Introduce tus apellidos',
  plemail: 'Introduce tu email',
  pltelefono: 'Introduce tu telefono',
  plmensaje: 'Introduce tu mensaje'
}

if (Astro.request.method === 'POST') {
  try {
    let nombreValido = false
    let correoValido = false
    const data = await Astro.request.formData()
    const nombre = data.get('nombre')
    const apellidos = data.get('apellidos')
    const email = data.get('email')
    const telefono = data.get('telefono')
    const disponibilidadDia = data.get('disponibilidadDia')
    const disponibilidadHora = data.get('disponibilidadHora')
    const mensaje = data.get('mensaje')
    if (typeof nombre !== 'string' || nombre.length < 1) {
      placeholder.plnombre = 'Por favor introduzca un nombre. '
    } else {
      nombreValido = true
    }
    if (typeof email !== 'string' || email.length < 1) {
      placeholder.plemail = 'Por favor introduzca su email. '
    } else {
      correoValido = true
    }
    if (nombreValido && correoValido) {
      const client = new MongoClient(uri)
      console.log('conexi칩n base de datos')
      async function run() {
        try {
          await client.db().command({ ping: 1 })
          console.log('Conexi칩n realizada con la base de datos')
          const db = client.db('Contactos')
          const collection = db.collection('Formularios')
          const doc = {
            Nombre: `${nombre}`,
            Apellidos: `${apellidos}`,
            Correo: `${email}`,
            Telefono: `${telefono}`,
            DisponibilidadDia: `${disponibilidadDia}`,
            DisponibilidadHora: `${disponibilidadHora}`,
            Mensaje: `${mensaje}`
          }
          const result = await collection.insertOne(doc)
          console.log('Inserci칩n realizada')
        } finally {
          await client.close()
        }
      }
      run().catch(console.dir)
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<Layout title='Contacto'>
  <form
    method='POST'
    action='/Contacto'
    slot='content'
    class='space-y-8 mt-24 lg:mr-4 lg:ml-2 lg:mt-10 dark:bg-[#003e74] lg:rounded-xl p-4 h-screen lg:h-auto'
  >
    <div class='space-y-2'>
      <h2 class='text-3xl font-bold dark:text-white'>Formulario de contacto</h2>
      <p class='dark:text-white'>
        Rellena el formulario y nos pondremos en contacto contigo
      </p>
    </div>
    <div class='space-y-4'>
      <div class='grid grid-cols-2 gap-4'>
        <div class='space-y-2'>
          <label
            class='text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-white'
            for='first-name'
          >
            Nombre
          </label>
          <input
            class='flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
            id='first-name'
            placeholder={placeholder.plnombre}
            name='nombre'
          />
        </div>
        <div class='space-y-2'>
          <label
            class='text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-white'
            for='last-name'
          >
            Apellidos
          </label>
          <input
            class='flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
            id='last-name'
            placeholder={placeholder.plapellidos}
            name='apellidos'
          />
        </div>
      </div>
      <div class='space-y-4'>
        <div class='grid grid-cols-2 gap-4'>
          <div class='space-y-2'>
            <label
              class='text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-white'
              for='email'
            >
              Email
            </label>
            <input
              class='flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
              id='email'
              placeholder={placeholder.plemail}
              type='email'
              name='email'
            />
          </div>
          <div class='space-y-2'>
            <label
              class='text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-white'
              for='last-name'
            >
              Numero de telefono
            </label>
            <input
              class='flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
              id='last-name'
              placeholder={placeholder.pltelefono}
              name='telefono'
            />
          </div>
        </div>

        <div class='space-y-2'>
          <label
            class='text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-white'
            for='availability'
          >
            Disponibilidad
          </label>
          <div class='flex items-center space-x-2'>
            <select
              role='combobox'
              aria-controls='radix-:r1d:'
              aria-expanded='false'
              aria-autocomplete='none'
              dir='ltr'
              data-state='closed'
              data-placeholder=''
              class='flex h-10 w-full items-center justify-between rounded-md border border-input bg-white px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
              id='availability'
              name='disponibilidadDia'
            >
              <option>Lunes</option>
              <option>Martes</option>
              <option>Miercoles</option>
              <option>Jueves</option>
              <option>Viernes</option>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='h-4 w-4 opacity-50'
                aria-hidden='true'
              >
                <path d='m6 9 6 6 6-6'></path>
              </svg>
            </select>
            <input
              class='flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
              type='time'
              name='disponibilidadHora'
            />
          </div>
        </div>
        <div class='space-y-2'>
          <label
            class='text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-white'
            for='message'
          >
            Mensaje
          </label>
          <textarea
            class='flex w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 min-h-[100px]'
            id='message'
            placeholder={placeholder.plmensaje}
            name='mensaje'></textarea>
        </div>
        <button
          class='bg-black dark:bg-[#e0dddd] text-white dark:text-black inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2'
        >
          Enviar formulario
        </button>
      </div>
    </div>
  </form>
</Layout>
